*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-4k: 2560px;

@mixin responsive-font-size($lg-size, $md-size, $sm-size) {
  font-size: $sm-size;

  @media (min-width: $breakpoint-sm) {
    font-size: $md-size;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: $lg-size;
  }
}

@font-face {
  font-family: PoppinsLight;
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsMedium;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: PoppinsSemibold;
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: PoppinsExtrabold;
  src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: FiraMonoRegular;
  src: url("../assets/fonts/FiraMono/FiraMono-Regular.ttf");
}

@font-face {
  font-family: FiraMonoBold;
  src: url("../assets/fonts/FiraMono/FiraMono-Bold.ttf");
}
