*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  body {
    background-color: $white;
  }
}

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-4k: 2560px;

@mixin responsive-font-size($lg-size, $md-size, $sm-size) {
  font-size: $sm-size;

  @media (min-width: $breakpoint-sm) {
    font-size: $md-size;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: $lg-size;
  }
}

@font-face {
  font-family: PoppinsLight;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: PoppinsRegular;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: PoppinsMedium;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: PoppinsSemibold;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: PoppinsBold;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: PoppinsExtrabold;
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: FiraMonoRegular;
  src: url("./assets/fonts/FiraMono/FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: FiraMonoBold;
  src: url("./assets/fonts/FiraMono/FiraMono-Bold.ttf") format("truetype");
}

h1 {
  font-family: PoppinsBold, sans-serif;
  @include responsive-font-size(72px, 58px, 45px);
}

h2 {
  font-family: PoppinsSemibold, sans-serif;
  @include responsive-font-size(48px, 36px, 28px);

  &.fira-mono {
    font-family: FiraMonoBold, monospace;
    @include responsive-font-size(36px, 28px, 24px);
  }
}

h3 {
  font-family: PoppinsMedium, sans-serif;
  @include responsive-font-size(36px, 28px, 24px);

  &.fira-mono {
    font-family: FiraMonoRegular, monospace;
    @include responsive-font-size(36px, 28px, 24px);
  }
}

h4 {
  font-family: PoppinsRegular, sans-serif;
  @include responsive-font-size(28px, 24px, 20px);
}

p {
  font-family: PoppinsLight, sans-serif;
  @include responsive-font-size(20px, 18px, 16px);
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-family: PoppinsRegular;
}
