.nav-container {
  width: 100%;
  height: 100px;
  padding: 0 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .button-to-top {
    border: none;
    background-color: none;
    height: 100px;
    color: $blue;
    cursor: pointer;
  }

  .nav-items-wrapper {
    display: flex;
    align-items: center;
    gap: 34px;
  }

  .nav-item {
    color: $blue;
    @include responsive-font-size(20px, 18px, 12px);
    transition: margin 0.2s ease-in-out;

    &:hover,
    &:focus {
      margin-bottom: 6px;
    }

    &[href="#contact"] {
      border: 2px solid $light-blue;
      border-radius: 5px;
      color: $light-blue;
      padding: 6px 12px;
      transition: all 0.2s linear;

      &:hover,
      &:focus {
        margin: 0;
        background-color: $light-blue;
        color: $white;
      }
    }
  }
}
