.footer-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

  .icon {
    color: $light-blue;
    font-size: 26px;
  }

  span {
    font-family: 'FiraMonoBold', sans-serif;
    color: $light-blue;
  }
}
